<div class="modal fade" id="difficulty_modal" tabindex="-1" role="dialog" aria-labelledby="difficulty_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="login_lightbox_label">How difficult is this book?</h4>
      </div>
      <div class="modal-body">
        <div class="row center">
          <div class="col-md-4">
            <h4>Example</h4>
            <div id="difficulty_images">
              <%= image_tag "book1.jpeg" %>
              <%= image_tag "book2.jpeg" %>
              <%= image_tag "book3.jpeg" %>
              <%= image_tag "book4.jpeg" %>
              <%= image_tag "book5.jpeg" %>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row center">
              <input id="difficulty_slider" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3">
            </div>
            <div class="row center">
              <div class="difficulty_content">
                <h3>1</h3>
                <p>Simple vocabulary <br>Simple sentence structure <br>Examples: Harry Potter, The 'Goosebumps' series</p>
              </div>
              <div class="difficulty_content">
                <h3>2</h3>
                <p>Slightly difficult vocabulary <br>Simple sentence structure <br>Examples: Alice in Wonderland, Peter Pan, The Wonderful Wizard of Oz</p>
              </div>
              <div class="difficulty_content">
                <h3>3</h3>
                <p>Somewhat difficult vocabulary <br>Easy-to-follow sentence structure <br>Examples: A Game of Thrones, The Call of the Wild</p>
              </div>
              <div class="difficulty_content">
                <h3>4</h3>
                <p>Somewhat advanced vocabulary <br>Somewhat advanced sentence structure <br>Examples: Atlas Shrugged, The Adventures of Sherlock Holmes</p>
              </div>
              <div class="difficulty_content">
                <h3>5</h3>
                <p>Complex vocabulary <br>Complex sentence structure <br>Examples: Ulysses, Moby Dick, A Clockwork Orange</p>
              </div>
            </div>
            <div id="diffbuttons" class="row center">
              <button id="difficulty_done" class="btn btn-outline btn-lg" >Done</button>
              <button id="difficulty_unknown" class="btn btn-outline btn-lg" >I don't know</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
