<div class="modal fade" id="difficulty_modal" tabindex="-1" role="dialog" aria-labelledby="difficulty_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="login_lightbox_label">How difficult is this book?</h4>
      </div>
      <div class="modal-body">
        <div class="row center">
          <input id="difficulty_slider" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3">
        </div>
        <div id="difficulty_images">
          <%= image_tag "book1.jpeg" %>
          <%= image_tag "book2.jpeg" %>
          <%= image_tag "book3.jpeg" %>
          <%= image_tag "book4.jpeg" %>
          <%= image_tag "book5.jpeg" %>
        </div>
        <br>
        <div id="diffbuttons" class="row center">
          <button id="difficulty_done" class="btn btn-outline btn-lg" >Done</button>
          <button id="difficulty_unknown" class="btn btn-outline btn-lg" >I don't know</button>
        </div>
      </div>
    </div>
  </div>
</div>
