<div class="modal fade" id="register_lightbox" tabindex="-1" role="dialog" aria-labelledby="register_lightbox_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="register_lightbox_label">Register</h4>
      </div>
      <div class="modal-body">
        <%= form_tag '/register', method: :post, role: "form", id: "register_form" do %>
          <div class="form-group">
            <%= text_field_tag :username, nil, placeholder: "Username", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= password_field_tag :confirm_password, nil, placeholder: "Confirm Password", class: "form-control" %>
          </div>
          <%= submit_tag "Register", class: "btn btn-primary" %>
        <% end %>
        <p>OR:</p>
        <%= button_to "Register with goodreads", "/auth/goodreads", method: :get, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
