<!DOCTYPE html>
<html>
<head>
  <title>ReddyReader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var SpritzSettings = {clientId: 'cb2e148ae1989c485', redirectUri: 'http://localhost:3000/login_success'};"%>

  <%= javascript_include_tag "//sdk.spritzinc.com/js/1.2/js/spritz.min.js"%>
</head>
<body>
  <div class="container">
    <div id="background"></div>
    <div id="login_lightbox" class="lightbox" style="display: none">
      <%= form_tag '/login', method: :post do %>
        <br>
        <%= text_field_tag :username, nil, placeholder: "Username" %>
        <br>
        <%= password_field_tag :password, nil, placeholder: "Password" %>
        <br>
        <%= submit_tag "Login" %>
        <br>
        <a href="#" class="close">Close</a>
      <% end %>
    </div>
    <div id="register_lightbox" class="text-right" style="display: none">
      <%= form_tag '/register', method: :post do %>
        <br>
        <%= text_field_tag :username, nil, placeholder: "Username" %>
        <br>
        <%= password_field_tag :password, nil, placeholder: "Password" %>
        <br>
        <%= submit_tag "Register" %>
        <br>
        <a href="#" class="close">Close</a>
      <% end %>
    </div>

  <%= yield %>
  </div>
</body>
</html>
