<!DOCTYPE html>
<html>
<head>
  <title>ReddyReader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var SpritzSettings = {clientId: 'cb2e148ae1989c485', redirectUri: 'http://localhost:3000/login_success'};"%>

  <%= javascript_include_tag "//sdk.spritzinc.com/js/1.2/js/spritz.min.js"%>
</head>
<body data-no-turbolink>

<%= yield %>

</body>
</html>
